body{
    text-align: center;
}
video {
    height: 60vh;
    width: 90vw;
}
.main_heading {
    font-size: xx-large;
    font-weight: bold;
}

.sub_heading {
    font-size: large;

}

.load_div{
    position: relative;
    border: 2px solid red;
    margin: 5px auto;
    max-width: 600px;
    border-radius: 10px;
}


.load_progress{
    width: 100%;
    background-color: lime;
    display: block;
    height: 100%;
    position: absolute;
    z-index: -1;
}
